*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 18px;
    background-color: #ab226d;
    position: relative;
    animation:logo 3s linear infinite alternate;
    animation-name: maior 3s infinite ease;
    transition: all .3s;
}
.logo .maiorq{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%) rotate(45deg);
    
    
    
}


.logo .maiorq::after,
.logo .maiorq::before{
    content: "";
    width: 30px;
    height: 8px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    
    
}
.logo .maiorq::before{
    width: 8px;
    height: 30px;
    left: initial;
    right: 0;
}
.logo .underline{
    width: 25px;
    height: 7px;
    background-color: white;
    position: absolute;
    bottom: 30px;
    right: 20px;
    animation: slide 3s linear infinite alternate;
   
       

  
 }



 @keyframes logo{

   0%{
    background-color:#ab226d ;
    transform: translate(0px);
   }

   50%{
    transform: translateY(-40px);
   }
  
   100%{
    background-color: blue;
    transform: translateY(0px);
   }

    /* from{
        background-color: #ab226d;
        
    
    
    }

    to{
        background-color: blue;
    } */


    

 }

 


.logo .maiorq::before{
    width: 8px;
    height: 30px;
    left: initial;
    right: 0;
    animation: bordas 3s linear infinite alternate;
}

@keyframes bordas{

from{
    background-color: white;
    border: white;

}

to{
    background-color: green;
    border: green;
}

}


 .logo .underline{
    width: 25px;
    height: 7px;
    background-color: white;
    position: absolute;
    bottom: 30px;
    right: 20px;
    animation: slide 3s linear infinite alternate;
   
       

  
 }

 @keyframes slide{

    0%{
        background-color: white;
    }

    100%{
        background-color: chartreuse;
    }

    /* from{
        background-color: white;
    }

    to{
        background-color: chartreuse;
    } */

 }

    
  


 

  


  


    
  

 
    
    
    
 
    

        
    